# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
.DS_Store

# If using Django migrations
/migrations/
*/migrations/*
!*/migrations/__init__.py

# Environment variables
.env
.env.*

# Virtual environment
venv/
ENV/
env/
.venv/

# pyenv
.python-version

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env.local
.env.production
.env.testing
.env.staging

# SQL database files
*.db

# macOS
*.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Pipfile
Pipfile.lock

whatif/migrations/__init__.py
users/migrations/__init__.py
stp/migrations/__init__.py
settings/migrations/__init__.py
report/migrations/__init__.py
prod_concept/migrations/__init__.py
prod_actual/migrations/__init__.py
logs/migrations/__init__.py
common/migrations/__init__.py
